{% extends "SiteruffecardeSiteBundle::Layout.html.twig"%}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container container-login">
        <div class="row">

            <div class="col-lg-12">
                {{ 'resetting.check_email'|trans({'%email%': email}) }}
            </div>
        </div>
    </div>
{% endblock body %}
