{% extends "SiteruffecardeSiteBundle::Layout.html.twig"%}


{% block body %}

    <div class="container">
       
        <div class="row container-termcondition">

            <h3><strong>CONDITIONS GÉNÉRALES D'UTILISATION</strong></h3>
            <h4 class="termsCondition">Objet</h4>

            <p>Les présentes conditions générales ont pour objet de définir les modalités de mise à disposition des services de RUFFE CarD (http://www.ruffecard.com)
                et les conditions d'utilisation par l'utilisateur.</br>
                Tout accès et/ou utilisation de RUFFE CarD suppose l'acceptation et le respect de l'ensemble des termes des présentes Conditions et leur acceptation inconditionnelle. Elles constituent donc un contrat entre RUFFE CarD.
                Dans le cas où l'utilisateur ne souhaite pas accepter tout ou partie des présentes conditions générales, il lui est demandé de renoncer à tout usage du service.
            </p>
            <p> Mentions légales RUFFE CARD</br>
                Déclaration  en préfecture le  05 novembre 2013</br>
                Déclaration 05/11/2013 | Publication au J.O le  16/11/2013 | Création (Déclaration à la préfecture de la Guadeloupe) sous le N°  R.N.A : W9G1002326</p>
            </p>
            <h4 class="termsCondition">Activités</h4> 
            <p>AIDE A LA PERSONNE  /   INTERVENTIONS SOCIALES   ET  INSERTION</br>
                Représenté par : <strong>Patrice RUFFE</strong>   Président    Fondateur de RUFFE CarD</br>
                Hébergé par : Ovh SARL  140 quai   du Sartel    59 100 Roubaix</p>

            <h4 class="termsCondition">Accès au service</h4>
            <p>
                RUFFE CarD se réserve le droit de refuser l'accès au service, unilatéralement et sans notification préalable, à tout utilisateur ne respectant pas les présentes conditions d'utilisation.
                RUFFE CarD met en œuvre tous les moyens raisonnables à sa disposition pour assurer un accès de qualité au service, mais n'est tenu à aucune obligation d'y parvenir.
                RUFFE CarD ne peut, en outre, être tenue responsable de tout dysfonctionnement du réseau ou des serveurs ou de tout autre événement échappant au contrôle raisonnable, qui empêcherait ou dégraderait l'accès au service.
                RUFFE CarD se réserve la possibilité d'interrompre, de suspendre momentanément ou de modifier sans préavis l'accès à tout ou partie du service, afin d'en assurer la maintenance, ou pour toute autre raison, sans que l'interruption n'ouvre droit à aucune obligation ni indemnisation.
            </p>
            <h4 class="termsCondition">Propriété intellectuelle</h4>
            <p>
                L'ensemble de ce site relève des législations françaises et internationales sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents iconographiques et photographiques. La reproduction de tout ou partie de ce site sur un support quel qu'il soit est formellement interdite sauf autorisation expresse de RUFFE CarD. Les droits de reproduction sont réservés et strictement limités.
                Toute copie, même partielle, de quelques éléments que ce soit de ce site pourra faire l'objet de poursuites judiciaires.
            </p>
            <h4 class="termsCondition">Données personnelles</h4>
            <p>
                Dans une logique de respect de la vie privée de ses utilisateurs, RUFFE CarD s'engage à ce que la collecte et le traitement d'informations personnelles, effectués au sein du présent site, soient effectués conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, dite Loi « Informatique et Libertés ». 
                Conformément à l'article 34 de la loi « Informatique et Libertés », RUFFE CarD garantit à l'utilisateur un droit d'opposition, d'accès et de rectification sur les données nominatives le concernant. L'utilisateur a la possibilité d'exercer ce droit :
              
            <ul>
                <li>- sur le site, dans l'espace webmaster</li>
                <li>- sur le site, dans de désabonnement à la newsletter</li>
                <li>- en rentrant directement en contact par l'adresse suivante :</li>
            </ul>
           
            </p>
            <h4 class="termsCondition">Liens hypertextes</h4>
            </p>
            <p>RUFFE CarD propose des liens hypertextes vers des sites web édités et/ou gérés par des tiers.</br>
                Dans la mesure où aucun contrôle n'est exercé sur ces ressources externes, l'utilisateur reconnaît que RUFFE CarD n'assume aucune responsabilité relative à la mise à disposition de ces ressources, et ne peut être tenue responsable quant à leur contenu.</p>
            </p>
            <h4 class="termsCondition">Evolution du présent contrat</h4>
            <p>
                RUFFE CarD se réserve le droit de modifier les termes, conditions et mentions du présent contrat à tout moment.
                Il est ainsi conseillé à l'utilisateur de consulter régulièrement la dernière version des conditions d'utilisation disponible sur le site http://www.ruffecard.com
                </br>
                Droit applicable et juridiction compétente.
                </br>
                Les règles en matière de droit, applicables aux contenus et aux transmissions de données sur et autour du site, sont déterminées par la loi française.
                En cas de litige, n'ayant pu faire l'objet d'un accord à l'amiable, seuls les tribunaux français du ressort de la cour d'appel de la France sont compétents.
                </br>
                Copyright © 05 11 2013 RUFFE CARD. Tous droits réservés. La reproduction entière ou partielle quel
                que soit la méthode utilisée sans le consentement préalable écrit de RUFFE CARD est interdite. RUFFECARD, www.ruffecard.com
            </p>
        </div>
    
    </div>
{% endblock body %}